[submodule "Modulo2/folha-de-pagamento-juniorpinhodev"]
  path = Modulo2/folha-de-pagamento-juniorpinhodev
  url = https://github.com/juniorpinhodev/FloripaMaisTec/tree/main/Modulo2/folha-de-pagamento-juniorpinhodev.git
